body,
html,
canvas {
  margin: 0;
}
canvas {
  position: absolute;
}
#gui{
  position: fixed;
  width:20em;
  height:20em;
  z-index: 5;
  right:0;
  bottom:0;
}
#chat{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  
}
#msg{
  width:100%;
  height:100%;
  flex:1;
  padding:1em;
  list-style-type: none;
  margin:0;
  overflow-y: auto;
  background: rgba(50,50,50,0.5);
  color:white;
  word-wrap: break-word;
}

